.ProjectSubmissionsLayout {
    display: flex;
    width: 100%;
    background-color: #B2E4FA;
}

.ProjectSubmissionsContents {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 98px 97px;
    width: 70vw;
}

.ContentHeader {
    display: flex inline;
    justify-content: space-between;
}

.ContentTitleText {
    background-color: #d9f2fd;
    color: #6C6C6C;
    font-family: "Nunito", sans-serif;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 900;
    height: 34px;
    width: 305px;
}

.ContentButtonsContainer {
    display: flex inline;
    align-items: center;
}

.ContentButtons {
    display: flex;
    background-color: #d9f2fd;
    align-items: right;
    font-family: "Open-sans", sans-serif;
    color: #6C6C6C;
    font-size: 18px;
    font-weight: 900;
    border: none;
    padding-left: 30px;
}

.ScrollContainer {
    height: 90vh;
    max-height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #43C0F6 #FFFFFFBF;
    border-radius: 8px;
    width: 70vw;
    padding: 0px;
}

.CardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #707070;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    font-size: 24px;
}

.Checkbox {
    top: 0;
    left: 0;
    height: 31px;
    width: 31px;
    background-color: #d9f2fd;
}

.CheckboxContainer {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.SubmittedProjectContainer {
    background-color: #d9f2fd;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 20px;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: none;
}

.OuterContainer {
    display: flex;
    background-color: #d9f2fd;
    width: 65vw;
}

.ProfileImg {
    width: 10%;
}

.ScreenshotImg {
    width: 25%;
}

.EnlargeButton {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: white;
    color: #6C6C6C;
    cursor: pointer;
}

.DateTimeContainer {
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    /* width: 50vw; */
    font-weight: 700px;
    text-transform: uppercase;
}