.CircleStyle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(162, 160, 160, 1);
    text-align: center;
    line-height: 40px;
    margin: 5px;
    color: rgba(108, 108, 108, 1);
    gap: 4em, 4em;
  };
  
  .Container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flexStart;
 };