.Style {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    
  };
  
  .NameCont {
    color: rgba(112, 112, 112, 1);
    width: 90%;
    height: 90%;
    opacity: 1;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
     }
  