.Style {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    gap: 5px;
    
  }
  
/*.NameCont {
    color: rgba(112, 112, 112, 1);
    width: 90%;
    height: 90%;
    opacity: 1;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: aqua;
  }*/
  