.main{
    margin-top: 10px;
margin-bottom: 10px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 600;
    font-size: 16px;
    color: #707070;
}

.container{
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;

}

.title{
        margin-top: 10px;
    margin-bottom: 10px;
        font-family: "Nunito", "sans-serif";
        font-weight: 900;
        font-size: 24px;
        color: #6c6c6c;
}


.p1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.p2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.image{
    margin-top: 10px;
    margin-bottom: 10px;
}

.p3{
    /* text-align: center;
    position: relative;
    justify-content:center; */
    width: 90%;
}
.pinkcolortext{
    color:#F91C85 ;
}
