/*Styling of area containg image*/
.imageContainer{
    margin-top: 5px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    background-color:  #b2e4fa;       
  }
/*Styling of image*/
.image{
width: 95%;
margin-top: 5%;
margin-bottom: 5%;
}