.ButtonContainer {
  display: flex;
}

.ButtonLabel {
  margin-top: 0.25rem;
  margin-right: 0.75rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #767676;
}

.Button {
  height: 20px;
  margin-bottom: 2rem;
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.6rem;
  font-weight: 900;
  color: #000000c2;
  background: #f7f0f0 0% 0% no-repeat padding-box;
  border: 0.5px solid #807e7e1a;
  border-radius: 3px 0px 0px 3px;
  box-shadow: 0px 0.5px 1px #00000047;
}

.Active {
  color: white;
  background: transparent linear-gradient(180deg, #65affa 0%, #0e81ff 100%) 0%
    0% no-repeat padding-box;
  border: 0.5px solid #0000001a;
  border-radius: 3px 0px 0px 3px;
}
