.Card {
  margin-bottom: 2.25rem;
  text-align: center;
}

.CardImg {
  width: 100%;
  object-fit: scale-down;
}

.ProjectName {
  font-family: Nunito, sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  color: #707070;
}

.ShortDescription {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #767676;
}
