.LargeHeading {
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #6c6c6c;
}

.TitleParagraph {
  margin-bottom: 2.75rem;
  padding-top: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: .95rem;
  font-weight: 600;
  color: #767676;
}
