/* This page stacks to top level. Main CSS for the Home page  */

.default_component_for_home {
    margin-left: 8.5em;
    margin-right: 8.5em;
    font-family: 'calibri';
    color: #767676;
}

@media screen and (max-width: 1200px) {
    .default_component_for_home {
        margin-left: 2em;
        margin-right: 2em;
    }
}