.home_page_margin {
    margin-left: 8.5em;
    margin-right: 8.5em;
}

.hero_banner_image {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
}

.container_top_text {
    display: flex;
    justify-content: flex-start;
    width: 8em;
}

.top_banner_contents_text {
    position: absolute;
    transform: translate(0, -105%);
    width: 30%;
}

.buttons_signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 1.5em;
    border-radius: 8px;
    border: 2px solid rgb(249, 28, 133);
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: rgb(255, 255, 255);
    background-color: rgb(249, 28, 133);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}


.buttons_signup:hover {
    border-color: #41BAEF;
}

.buttons_learn_more {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 1.5em;
    border-radius: 8px;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    color: #767676
}

.buttons_learn_more:hover {
    border-color: #41BAEF;
}

.learn_more_and_signup {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 15px;
}

.top_mid {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    /* border: 2px solid rgb(0, 255, 106); */
}

.flex_box_operator_1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 2px solid rgb(255, 0, 0); */
}

.what_we_offer {
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(255, 238, 0); */
}

.what_will_students_create {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
    /* border: 2px solid rgb(255, 0, 234); */
}

.set_of_image_box {
    display: flex;
}

.set_of_image {
    height: 5.5em;
}

.laptop_right_part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid rgb(0, 162, 255); */
}

.laptop_cycle_functions {
    height: 20em;
    width: auto;
}


.section_mid {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 1.5em;
    font-weight: 600;
    /* border: 2px solid black; */
}

.image_group_cluster {
    display: flex;
    object-fit: contain;
    gap: 10px;
}

.group_image {
    margin: 12px;
    height: 170px;
    width: auto;
}


/* experimental feature below, do not enable :) */

/* @keyframes cycle {
    0% { background-image: url('../../assets/Home/laptop1.png'); }
    25% { background-image: url('../../assets/Home/laptop1.png'); }
    50% { background-image: url('../../assets/Home/laptop2.png'); }
    75% { background-image: url('../../assets/Home/laptop3.png'); }
    100% { background-image: url('../../assets/Home/laptop4.png'); }
  }
  
  .laptop_cycle_functions {
    animation: cycle 12s infinite;
  } */

