.Wrapper {
}

.Header {
  position: sticky;
  top: 0;
}

.MainContent {
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}

.FlexContainer {
  height: 92vh;
  margin-bottom: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
