.App {
  display: flex;
  height: 100vh;
  background-color:  #B2E4FA;
}

.Rectangle {
  background-color: #ffffff80;
  border-radius: 30px;
  width: 70%;
  height: 60%;
  margin: 40px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 4em;
  column-gap: 20px;
}

.Content {
  display: flex;
  flex-direction: column;
  order: -1;
}

.H2Content, .PContent {
  color: #6C6C6C;
  font-weight: semi-bold;
  font-family: open sans;

}

.H2Content {
  padding-bottom: 2%;
  font-size: medium;
}

.PContent {
  margin-left: auto;

}

.Style {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

.NameCont {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6C6C6C;
  margin: 10px;
}

.Circ {
  text-align: center;
  justify-content: center;
}

.Rectangle::-webkit-scrollbar {
  width: 1em;
  margin-left: 4em;
  padding-right: 5rem;

}
.Rectangle::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100vw;
  margin-block: 4em;
}

.Rectangle::-webkit-scrollbar-thumb {
  background-color: #B2E4FA;
  border: .2em solid white;
  border-radius: 100vw;
}