.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color:  #B2E4FA;
  }
  
  .sidebar {
    background-color:#43C0F6;
    transition: width 0.3s ease;
    overflow: hidden;
    top: 62px;
    left: 0px;
    width: 200px;
    height: 100vh;
  }
  
  .rectangle {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    padding: 5% 5% 5% 5%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D1F2EB;
    margin: 50px;
    height:65vh;
    justify-content: center;
  }

.content {
  display: flex;
  flex-direction: column;
  order: -1;
}

.h2-content, .p-content {
  color: #6C6C6C;
  font-weight: bold;

}

.h2-content {
  padding-bottom: 2%;
}

.p-content {
  margin-left: auto;

}