/*Styling of dashboard right side of side bar */
.Container {
  padding-left: 10%;
  padding-right: 20%;
  text-align: left;
}

/*Styling of whole area below navigation bar*/
.Layout {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-areas: "sidebar main";
  background-color: #b2e4fa;
}

/*Styling of main content*/
.CentreArea {
  text-align: center;
  font-size: 20px;
  grid-area: main;
}

/*Styling of dashboard*/
.Dashboard {
  float: left;
  height: 80%;
  background: #ffffff80;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
  border-radius: 30px;
  height: 85vh;
}
