/* .ModalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.ModalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* display: flex;
    flex-direction: column;
    padding: 25px; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ModalContainer .Body img {
    max-width: 100%;
    max-height: 100%;
}

.ModalContainer .Title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.TitleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.TitleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.ModalContainer .Body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.ModalContainer .Footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalContainer .Footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

/* .EnlargePhoto {
    width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
} */