/*Styling of whole area below navigation bar*/
.Layout {
 
    /* display: flex; */
    width:100vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: "sidebar main";
    background-color: #B2E4FA;
}

/*Styling of main content*/
.CentreArea{
    text-align: center;
    font-size: 20px;
    grid-area: main;
    
}

/*Styling of dashboard*/
.Dashboard {
    float:left;
    height: 80%;
    background: #FFFFFF80;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px; 
    margin-bottom: 40px; 
    border-radius: 30px;
    height: 85vh;
   
}
