.Button {
  width: 160px;
  height: 28px;
  font-family: Nunito, sans-serif;
  font-size: 0.65rem;
  font-weight: 900;
  color: white;
  background-color: #f91c85;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 5px #00000029;
}
