* {
    background: white 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    justify-content: center;
    top: 109px;
    left: 266px;
    width: 1571px;
    height: 860px;
    padding: 20px;
}