
/*Styling of Navigation bar*/
/* .navbar{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 40px;
    margin-left: 40px;
    background-color: white;
    height:91px;
  } */
  
  .navbar{
    font-family:'Open Sans', Bold,  system-ui, -apple-system;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
   
    margin-top: 0px;
    margin-left: 0px;
    
   
    align-items: center;
    height:64px;
    gap: 0px;
    background-color: white;
    /* width: 1440px; */

} 

/*Styling of Logo*/
.logo{
    top: 0px;
    left: 29px;
    width: 109px;
    height: 45px;
    align-items: start;
    padding-left: 0;
}

/*Styling of Start Project button*/
 .navbtn1{color: white;
padding: 10px 15px;
border-radius: 5px;
width: 150px;
height:35px;
outline: 0;
border: 0; 
margin: 10px 0px;
cursor: pointer;
box-shadow: 0px 2px 2px lightgray;
background-color: rgb(209, 105, 8);
} 

/*Styling of Ask Teacher for Help button*/
.navbtn2{color: white;
    padding: 10px 15px;
    border-radius: 5px;
    width: 150px;
    height:35px;
    outline: 0;
    border: 0; 
    margin: 10px 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    background-color:#F91C85;
    }

/*Styling of More Projects button*/
    .navbtn3{color: white;
    padding: 10px 15px;
    border-radius: 5px;
    width: 150px;
    height:35px;
    outline: 0;
    border: 0; 
    margin: 10px 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    background-color: #43C0F6;
    }

/*Styling of Project and Subtitle*/
.layout{
    justify-content: space-evenly;
    padding-right: 1px;
    top: 13px;
left: 200px;
width: 68px;
height: 32px;
   }

/*Styling of all buttons*/
.btn{
    justify-content: space-evenly;
    gap: 10px; 
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px; 
}

/*Styling of Flag*/
.languageflag {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 0.6em;
   margin:50px;
     top: 5px;
    left: 6px; 
    width: 24px;
    height: 12px;
  }
 