.persistent_nav_bar {
    font-family:'Open Sans', Bold,  system-ui, -apple-system;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    height: 64px;
    background-color: #43C0F6;
  }
  
  .navigation_bar {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .language_flag_ribbon {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 0.6em;
    margin: 5px;
  }
  
  .user_interface_plus_languageBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
  }
  
  .register_and_login {
    display: flex;
    align-content: center;
    gap: 0.5em;
  }
  
  .level_up_works_logo {
    height: 64px;
  }
  
    /* body {
      margin: 0;
      display: flex;
      place-items: center;
      min-width: 320px;
      min-height: 100vh;
    } */
    
    /* h1 {
      font-size: 3.2em;
      line-height: 1.1;
    } */
    
  /* button {
    display: flex;
    border-radius: 8px;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  } */
  
  .radial_mount {
    font-size: 1.2em;
    transition: font-size 0.3s ease;
    text-decoration: none;
    color: #ffffff;
  }
  
  .radial_mount:hover {
    font-size: 1.4em;
  }
  
  /* button:hover {
      border-color: #646cff;
  } */
  
  /* button:focus,
  button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
  }
    
  @media (prefers-color-scheme: light) {
      :root {
        color: #213547;
        background-color: #ffffff;
      }
      a:hover {
        color: #747bff;
      }
      button {
        background-color: #f9f9f9;
      }
  } */
  