.SideBarButtonsLink {
    display: flex;
    flex-direction: column;
    background-color: #43C0F6;
    background: transparent url('img/Rectangle 250.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: "Open-sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 20px;
}

.SideBarButtonsLink:hover {
    background-color: #B2E4FA;
    color: #707070;
}

.SideBarButtonsText {
    background-color: #43c0f6;
    color: white;
    text-decoration: none;
}

/* Style navigation bar links */
/* .SideBarButtonsLink:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #B2E4FA;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: left;
} */

.SideBarButtonsList {
    width: 20vw;
    display: flex;
    font-size: 14px;
    align-items: center;
}

/* .isActive .SideBarButtonIcon {
    width: 20%;
} */

.SideBarButtonIcon {
    width: 10%;
}

/* .SideBarButtonIcon, .SideBarButtonsText {
    display: inline-block;
    vertical-align: middle;
} */