.SideBar {
    display: flex;
    flex-direction: column;
    background-color: #43c0f6;
    width: 15vw;
    height: 100vh;
    transition: width 0.3s ease-in-out;
    box-sizing: border-box;
    font-family: "Open-sans", sans-serif;
    font-size: 0.9rem;
    color: white;
    border: none;
    justify-content: space-evenly;
}

.isActive {
    width: 10vw;
    height: 100vh;
    transition: width 0.3 ease-in-out;
}

.ProfilePicture {
    outline: none;
    width: 100%;
    padding-top: 30px;
}

/* .isActive .profilePicture {
    width: 100%;
} */

.SideBarButtonsList {
    outline: none;
}


/* .isActive .SideBarButtonsList>img {
    width: 1000%;
} */

/* 
img {
    border-radius: 50%;
    border-radius: none;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
} */

/* nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    overflow-x: visible;
    background-color: #43c0f6;
} */

/* p:hover {
    background-color: #B2E4FA;
} */

/* .img {
    align-items: center;
    justify-content: center;
} */

/* Style navigation bar links */
/* nav a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #43c0f6;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: left;
} */

/* Change color on hover */
/* nav a:hover {
    background-color: #B2E4FA;
    background: transparent url('img/Rectangle 248.png') 0% 0% no-repeat padding-box;
    color: #707070;
} */

.ToggleButtonContainer {
    display: flex;
    justify-content: flex-end;
    /* position: relative; */
    /* top: 56px;
    left: 172px;
    width: 64px;
    height: 72px; */
    border-radius: 10px 0px 0px 10px;
    opacity: 1;
}

.isActive .ToggleButtonContainer {
    left: 0px;
    transition: width 0.3 ease-in-out;
}

.ToggleButton {
    display: flex;
    align-items: center;
    background-color: #B2E4FA;
    border: 1px solid #B2E4FA;
    size: 18px 36px;
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
}

.isActive .ProfilePicture img {
    width: 50%;
}

.isActive .ImportedMenuButtons img {
    width: 20%;
}

/* .isActive .ImportedMenuButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */

.isActive .ImportedMenuButtons p {
    display: none;
}

/* .isActive .SideBarButtonsLink {
    display: none;
    display: flex;
    justify-content: center;
} */

.isActive .ToggleButton {
    display: flex;
    transform: rotate(180deg);
}

.isActive .ToggleButtonContainer {
    display: flex;
    justify-content: flex-start;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.SettingButtonsContainer {
    display: flex;
    justify-content: space-evenly;
    /* vertical-align: bottom; */
    padding: 140px 20px;
    gap: 0.5rem;
}

.SettingButtons {
    background-color: #43c0f6;
    color: white;
    border: none;
}

.isActive .SettingButtonsContainer {
    flex-direction: column;
    align-items: center;
}

.isActive .SettingButtonsText {
    display: none;
}


/* content placeholder */
/* .contentBox {
    background: white 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    justify-content: center;
    top: 109px;
    left: 266px;
    width: 1571px;
    height: 860px;
    padding: 20px;
}

/* .menuButtons>li>a {
    display: flex;
    flex-direction: row;
} */

.ProfilePicture, .SettingButtonsContainer {
    background-color: #43c0f6;
    border: none;
}

/* ul {
    background-color: #43c0f6;
} */

/* .isActive buttons{
    width: 20%;
} */