.Card {
  width: 18vw;
  height: 55vh;
  margin-top: 12.5vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border: 2px solid #e2dfdf;
  border-radius: 30px;
}

.ProfileImg {
  width: 50%;
}

.ButtonBox {
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}