.Card {
  width: 35vw;
  margin-top: 15vh;
  padding-bottom: 7.5vh;
  background-color: white;
  border: 2px solid #e2dfdf;
  border-radius: 30px;
}

.Title {
  text-align: center;
  margin: 2.75rem;
  font-family: Nunito, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #707070;
}

.ListItem {
  padding: 1rem 30px;
  display: flex;
  justify-content: space-between;
}

.Key {
  font-family: Nunito, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #a5a5a5;
}

.Value {
  width: 55%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #707070;
}