.Card {
  min-width: 35vw;
  max-width: fit-content;
  margin-top: 15vh;
  padding-bottom: 7.5vh;
  padding-inline: 2rem;
  background-color: white;
  border: 2px solid #e2dfdf;
  border-radius: 30px;
}

.Title {
  text-align: center;
  margin: 2.75rem;
  font-family: Nunito, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #707070;
}

.List {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
}

.ListItem {
  display: contents;
}

.Key {
  font-family: Nunito, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #a5a5a5;
}

.Value {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #707070;
}
