@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Styling of Studentdashboard sidebar*/
.sidebar {
    background-color: #43C0F6;
    grid-area: sidebar;
    height:100vh;
    display: flex;
    flex-direction: column;
}

/*Styling of buttons on sidebar*/
.btn {
    top: 143px;
    margin-left:0px;
    width: 177px;
    height: 40px;
    background-color: #43C0F6;
    color: white;
    font-weight: 700;
    border-width: 0;
}

.active {
    background-color: #b2e4fa;
    color: gray;
}
/*Styling of whole area below navigation bar*/
.layout {
 
    /* display: flex; */
    width:100vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: "sidebar main";
}
/*Styling of main content*/
.centreArea{
    text-align: center;
    font-size: 20px;
    grid-area: main;
}
